In [2]:
#Dependencies and setup
import pandas as pd

In [9]:
# Files to load
file_to_load = "Starter_Data/purchase_data.csv"

# Read and store file into Pandas DF
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [12]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Player Count 
___

- Display the total number of players

In [19]:
# Counts the number of Unique SN
Unique_sn = purchase_data["SN"].unique()
Unique_sn

#Counts actual total number of players
total = len(Unique_sn)

#Print Data Frane displaying total number of players
player_count = pd.DataFrame({"Total Players":[total]})

# Display the number of players
player_count

   Total Players
0            576

 ## Purchasing Analysis (Total)
 ___
    
- Run basic calculations to obtain number of unique items, average price, etc.

- Create a summary data frame to hold the results

- Optional: give the displayed data cleaner formatting

- Display the summary data frame

In [51]:
# Determine Stats and store values
items = len(purchase_data["Item ID"].value_counts())
av_price = purchase_data["Price"].mean()
purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

#Create a summary data frame to hold results
summarydf = pd.DataFrame({"Number of Unique Items":[items],
                       "Average Price":[av_price],
                       "Number of Purchases":[purchases],
                        "Total Revenue":[total_revenue]
                       })
#format dataframe
summarydf.style.format({"Average Price":"${:.2f}", "Total Revenue":"${:,.2f}"})

### Gender Demographics
___
- Percentage and Count of Male Players

- Percentage and Count of Female Players

- Percentage and Count of Other / Non-Disclosed

In [27]:
# Unique Value List of "Gender"
purchase_data["Gender"].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [38]:
# Count the unique number of players 
gender_group = purchase_data.groupby(['Gender'])

gender_df = pd.DataFrame({"Total Count":gender_group['SN'].nunique()})
gender_df = gender_df.sort_values("Total Count", ascending=False)
gender_df

                       Total Count
Gender
Male                           484
Female                          81
Other / Non-Disclosed           11

###  Purchasing Analysis (Gender)

___
 
- Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

- Create a summary data frame to hold the results

- Optional: give the displayed data cleaner formatting

- Display the summary data frame

In [53]:
# Declare purchase details per person and by gender
purchase_Count = grouped_gender_df["Purchase ID"].count()
average_Purchase_Price = grouped_gender_df["Price"].mean()
totalPurchase = grouped_gender_df["Price"].sum()
avg_Total_Purchase_Person = totalPurchase / genderCount

# Create a summary data frame to hold the results
gender_purchase_df = pd.DataFrame({"Purchase Count": purchase_Count,
                                    "Average Purchase Price": average_Purchase_Price,
                                    "Total Purchase Value": totalPurchase,
                                    "Avg Total Purchase per Person": avgTotalPurchasePerson})

# Formatting
gender_purchase_df["Average Purchase Price"] = gender_purchase_df["Average Purchase Price"].map("${:,.2f}".format)
gender_purchase_df["Total Purchase Value"] = gender_purchase_df["Total Purchase Value"].map("${:,.2f}".format)
gender_purchase_df["Avg Total Purchase per Person"] = gender_purchase_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

# Display the summary data frame
gender_purchase_df[["Purchase Count", 
                    "Average Purchase Price", 
                    "Total Purchase Value", 
                    "Avg Total Purchase per Person"]].sort_values(["Purchase Count"], ascending=False)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

### Age Demographics

___
- Establish bins for ages

- Categorize the existing players using the age bins. Hint: use pd.cut()

- Calculate the numbers and percentages by age group

- Create a summary data frame to hold the results

- Optional: round the percentage column to two decimal points

- Display Age Demographics Table

In [54]:
# Establish bins for ages
max_range = purchase_data["Age"].max()
bins = [0, 9, 14, 19, 24, 29, 34, 39, max_range]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Create sub-data frame with just SN and Age information
player_details = purchase_data[["SN", "Age"]]

# Drop duplicated rows to keep only unique SN in new data frame
player_details = player_details.drop_duplicates(subset="SN", keep="first")

# Categorize the existing players using the age bins using the cut function
player_details["Age Ranges"] = pd.cut(df_player_age_dem["Age"], bins, labels=labels, include_lowest=True)

# Create a summary table with the count of unique SN by age ranges using groupby function
summary_byage = player_details.groupby(["Age Ranges"]).count()

# Rename the column SN as Total Count
summary_byage = summary_byage.rename(columns={"SN": "Total Count"})

# Delete the Age column from the summary table
summary_byage = summary_byage.drop(columns=["Age"])

# Percentage of players can be found by taking the count of players by age ranges and dividing with total number of players
percentage_age = summary_byage / summary_byage.sum() * 100

# Add the percentage of players data as a new column into the summary table
summary_byage["Percentage of Players"] = percentage_age

# Format the percentage data accordingly
summary_byage["Percentage of Players"] = summary_byage["Percentage of Players"].map('{:,.2f}%'.format)

# To display the summary data frame
summary_byage

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

###  Purchasing Analysis (Age)

___
- Bin the purchase_data data frame by age

- Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

- Create a summary data frame to hold the results

- Optional: give the displayed data cleaner formatting

- Display the summary data frame

#### Observable Trends:
___

- Although 84% of video game players points to being male, Data shows females and undisclosed genders spent more on video game purchases with had a higher purchase price

- The most typical video game player age range from 20-24 with the 2nd most purchased video games coming from the age range 15-19. At this age range Data also showed the most purchases.